<notify></notify>
<input type="password"
       autocomplete="off"
       placeholder="text"
       [(ngModel)]="text"><br><br>
<input type="password"
       autocomplete="off"
       placeholder="secret"
       [(ngModel)]="secret"><br><br>
<button (click)="decrypt(text, secret)"
        data-clipboard-target="#output">Decrypt</button>
<div class="hspace"></div>
<button (click)="encryptWithoutValidation(text, secret)"
        data-clipboard-target="#output">Encrypt Without Validation</button>
<br><br>
<input type="password"
       autocomplete="off"
       placeholder="secret validation"
       [(ngModel)]="secretValidation"><br><br>
<button (click)="encrypt(text, secret)"
        data-clipboard-target="#output">Encrypt</button>
<div id="output">
        {{output}}
</div>